type set_wlan_mac, domain, coredomain;
type set_wlan_mac_exec, exec_type, system_file_type, file_type;
init_daemon_domain(set_wlan_mac);

allow set_wlan_mac proc_cmdline:file { open read };
allow set_wlan_mac rootfs:dir { open read };
allow set_wlan_mac self:capability net_admin;
allow set_wlan_mac self:netlink_route_socket { bind create getattr nlmsg_read nlmsg_readpriv nlmsg_write read setopt write };
allow set_wlan_mac self:udp_socket { create ioctl };
allow set_wlan_mac shell_exec:file { execute getattr map read };
allow set_wlan_mac system_file:file execute_no_trans;
allow set_wlan_mac toolbox_exec:file { execute execute_no_trans getattr map open read };
allow set_wlan_mac system_data_root_file:file { getattr open read };
allow set_wlan_mac net_data_file:dir search;
allow set_wlan_mac self:capability sys_module;