allow hal_light_default sysfs_lights:lnk_file read;
allow hal_light_default sysfs_lights:file rw_file_perms;
allow hal_light_default sysfs_lights:dir r_dir_perms;
